<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="custom_sales_order" frontName="custom_sales_order">
            <module name="Custom_MyOrder" />
        </route>
    </router>
</config>
