<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rsgitech_news>
            <General>
                <enable>1</enable>
            </General>

              <storefront>
                <news_link>Link</news_link>
                <set_limit>10</set_limit>
            </storefront>
        </rsgitech_news>
       
    </default>
</config>
